@model AppNov14.Web.ViewModels.ManufacturingTable.DeleteTableRowViewModel

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.SubType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.SubType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Provider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.BatchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.BatchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.BatchType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.BatchType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.BatchLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.BatchLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.ReplenishmentDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.ReplenishmentDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.DocDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.DocDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Employee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.IpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.IpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.InsertDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Form.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Form.Remarks)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="@this.Model.Form.Id" />
        <div class="form-row input-btn-group">
            <div class="form-group submit-btn">
                <input type="submit" value="Удалить" class="btn btn-primary-danger" onclick="return confirm('Вы уверенны, что хотите удалить запись?')" />
            </div>
        </div>
    </form>
</div>