@using AppNov14.Helpers
@model AppNov14.Web.ViewModels.ManufacturingTable.EditBatchListViewModel

@{
    Layout = "_TableLayout";
    var items = this.Model.Items;
}

<div class="table-inputs">
    <form asp-action="EditBatchList">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="@this.Model.Form.BatchStatusId" class="control-label">Статус партии</label>
                <select asp-for="@this.Model.Form.BatchStatusId" class="form-control" asp-items="@(new SelectList(this.Model.BatchStatusList, "Value", "Text"))"></select>
                <span asp-validation-for="@this.Model.Form.BatchStatusId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@this.Model.Form.BatchId" class="control-label">Номер партии</label>
                <select asp-for="@this.Model.Form.BatchId" class="form-control dropdown-for-select2" asp-items="@(new SelectList(this.Model.BatchList, "Value", "Text"))"></select>
                <span asp-validation-for="@this.Model.Form.BatchId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row input-btn-group">
            <div class="form-group submit-btn">
                <input type="submit" value="Найти" class="btn btn-primary-submit">
            </div>
        </div>
    </form>
</div>
<div class="table-wrapper">
    @if (items == null || !items.Any())
    {
        <div class="empty-result">
            <span>Записи не найдены</span>
        </div>
    }
    else
    {
        <table align="center" class="table table-standart">
            <thead>
                <tr>
                    <th>
                        Изменить
                    </th>
                    <th>
                        Статус
                    </th>
                    <th>
                        #Id
                    </th>
                    <th>
                        Номер партии
                    </th>
                    <th>
                        Тип партии
                    </th>
                    <th>
                        Линия
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        Автоматическая дата
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td class="table-item-link">
                            <a asp-action="EditBatch" asp-route-id="@item.Id" class="btn btn-primary-warn">
                                <span class="btn-link-text">Изменить</span>
                                <i class="btn-icon icon-s20edit1"></i>
                            </a>
                        </td>
                        <td>
                            @(BatchStatuses.GetName(item.StatusId))
                        </td>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            <a asp-action="BatchInfo" asp-route-batchId="@item.Id" target="_blank">@item.Name</a>
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Line
                        </td>
                        <td>
                            @(item.CreateDate.HasValue ? item.CreateDate.Value.ToString("dd.MM.yyyy") : string.Empty)
                        </td>
                        <td>
                            @item.InsertDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("#Form_BatchStatusId").change(function () {
            $.ajax({
                url: "/Manufacturing/GetBatchByStatusId",
                type: 'POST',
                cache: false,
                data: { batchStatusId: $('#Form_BatchStatusId').val() },
                dataType: 'json',
                success: function (data) {
                    $("#Form_BatchId").empty();
                    $("#Form_BatchId").append($('<option/>', { value: '@null', text: '--Select--' }));
                    $.each(data, function (index, value) {
                        $("#Form_BatchId").append($('<option/>', { value: value.value, text: value.text }));
                    });
                }
            });
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}