@using AppNov14.Helpers
@model AppNov14.Web.ViewModels.Laboratory.EditDeleteAllDataLabViewModel

@{
    Layout = "_TableLayout";
    var items = this.Model.Items;
}
<div class="table-inputs">
    <form asp-action="EditListLab">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@this.Model.Form.DateStart" class="control-label">От</label>
                <input asp-for="@this.Model.Form.DateStart" type="date" min="2010-01-01" max="2050-12-31" class="form-control" />
                <span asp-validation-for="@this.Model.Form.DateStart" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@this.Model.Form.DateFinish" class="control-label">До</label>
                <input asp-for="@this.Model.Form.DateFinish" type="date" min="2010-01-01" max="2050-12-31" class="form-control" />
                <span asp-validation-for="@this.Model.Form.DateFinish" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row input-btn-group">
            <div class="form-group submit-btn">
                <input type="submit" value="Найти" class="btn btn-primary-submit">
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="table-wrapper">
    @if (items == null || !items.Any())
    {
        <div class="empty-result">
            <span>Записи не найдены</span>
        </div>
    }
    else
    {
        <table align="center" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Удалить
                    </th>
                    <th>
                        Изменить
                    </th>
                    <th>
                        Действие
                    </th>
                    <th>
                        #Id
                    </th>
                    <th>
                        Тип материала
                    </th>
                    <th>
                        Наименование типа материала
                    </th>
                    <th>
                        Поставщик
                    </th>
                    <th>
                        Производитель
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Остатки
                    </th>
                    <th>
                        Наименование партии
                    </th>
                    <th>
                        Номер партии
                    </th>
                    <th>
                        Паспорт
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Авто дата
                    </th>
                    <th>
                        Имя сотрудника
                    </th>
                    <th>
                        IP Адресс
                    </th>
                    <th>
                        Примечание
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr class="@(item.OperationType == RawActionTypes.Replenishment ? "edit-list-tr-replenish" : "edit-list-tr-writeoff")">
                        <td>
                            @if (item.OperationType != RawActionTypes.Return)
                            {
                                <a asp-action="DeleteLab" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                        </td>
                        <td>
                            @if (item.OperationType != RawActionTypes.Return)
                            {
                                <a asp-action="EditLab" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            }
                        </td>
                        <td>
                            @{
                                RenderOperationType(item.OperationType);
                            }
                        </td>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.SubType
                        </td>
                        <td>
                            @item.Provider
                        </td>
                        <td>
                            @item.Manufacturer
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Leftovers
                        </td>
                        <td>
                            @item.Document
                        </td>
                        <td>
                            @item.DocumentNumber
                        </td>
                        <td>
                            @item.Indexation
                        </td>
                        <td>
                            @item.DocDate
                        </td>
                        <td>
                            @item.AutoDate
                        </td>
                        <td>
                            @item.Employee
                        </td>
                        <td>
                            @item.IpAddress
                        </td>
                        <td>
                            @item.Remarks
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@{
    void RenderOperationType(int operationType)
    {
        @if (operationType == RawActionTypes.Replenishment)
        {
            Write("Пополнение");
        }
        else if (operationType == RawActionTypes.WriteOff)
        {
            Write("Списание");
        }
    }
}