@model AppNov14.Web.ViewModels.Laboratory.ImportExcelFileLabViewModel

@{
    var count = this.Model.ResultsCount;
}

<form asp-action="ImportExcelFileLab">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="@this.Model.Form.DateStart" class="control-label">От</label>
            <input asp-for="@this.Model.Form.DateStart" type="date" min="2010-01-01" max="2050-12-31" class="form-control" />
            <span asp-validation-for="@this.Model.Form.DateStart" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@this.Model.Form.DateFinish" class="control-label">До</label>
            <input asp-for="@this.Model.Form.DateFinish" type="date" min="2010-01-01" max="2050-12-31" class="form-control" />
            <span asp-validation-for="@this.Model.Form.DateFinish" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row input-btn-group">
        <div class="form-group submit-btn">
            <input type="submit" value="Найти" class="btn btn-primary-submit">
        </div>
        <div class="form-group child-btn">
            <a class="btn btn-primary-warn" asp-action="DownloadExcelLab" asp-route-dateStart="@this.Model.Form.DateStart.ToString()" asp-route-dateFinish="@this.Model.Form.DateFinish.ToString()">Скачать</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="empty-result">
    <span>@(count == 0 ? "Записи не найдены" : $"Найдено {count} записей")</span>
</div>